.crosshead {
  margin-bottom:$column-spacing;
  text-align:center;

  h2 {
    display:inline-block;
    position:relative;
    margin-bottom:0;

    &:after {
      content: "";
      height: 3px;
      background-color: $brand2;
      width: 80%;
      display: block;
      position: absolute;
      bottom: -5px;
      left: 10%;
    }
  }

  &.left {
    text-align:left;

    h2 {
      &:after {
        left: 0;
      }
    }
  }
}