.logo img {
  display:block;
  margin-bottom:0;
  width:100%;
}

.logo {
  box-sizing:border-box;
  padding:($column-spacing / 2) 0;
  display:flex;
  height:100%;
  align-items: center;
}

@media (max-width: 600px) {
  .logo img {
    display:block;
    margin-bottom:0;
    width:60%;
  }
}